:root {
    --primary: #121212;
    --secondary: #ffffff;
    --tertiary: #ff5468;
    --logo-image: url('../icons/pixelskills-logo-notext.png');
    --text-primary: #282828;
    --text-secondary: #ffffff;
    --svg-colour: #282828;
}

#content-container-text div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    width: 50%;
    font-size: 1.2em;
    color: var(--secondary);
    background-color: var(--svg-colour);
    border: var(--secondary) 3px solid;
}