:root {
    --primary: #121212;
    --secondary: #ffffff;
    --tertiary: #ff5468;
    --tertiary-light: rgb(197, 76, 90);
    --logo-image: url('../icons/pixelskills-logo-notext.png');
    --text-primary: #282828;
    --text-secondary: #ffffff;
    --svg-colour: #282828;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    max-width: 1920px;
    margin: 0 auto;
}

.svg {
    fill: var(--svg-colour);
    width: 40px;
    height: 40px;
}

.svg:hover {
    cursor: pointer;
}

.darkmode {
    --primary: #121212;
    --secondary: #282828;
    --tertiary: #ff5468;
    --logo-image: url('../icons/pixelskills-logo-notext.png');
    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --svg-colour: #ffffff;
}

#darkmode-toggle {
    cursor: pointer;
    padding-right: 15px;
}

main {
    display: flex;
    min-height: 100vh;
    background-color: var(--secondary);
}

#side-menu {
    background-color: var(--primary);
    width: 25%;
}

#content-container {
    background-color: var(--secondary);
    width: 75%;
    color: var(--text-primary);
}

#side-menu-header {
    background-image: var(--logo-image);
    background-size: 550px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    color: var(--text-secondary);
}

#side-menu-header h1 {
    font-variant: small-caps;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

#side-menu-header em {
    color: var(--tertiary);
}

#side-menu-header p {
    margin-top: 0px;
}

#side-menu-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#side-menu-content a {
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 50px;
}

#side-menu-content a:hover {
    color: var(--text-secondary) !important;
    background-color: var(--tertiary);
}

.current-page {
    color: var(--text-primary) !important;
    background-color: var(--secondary);
}

#side-menu-footer {
    color: var(--text-secondary);
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
}

#side-menu-footer em {
    color: rgb(238, 103, 103);
    font-size: 1.1em;
}

#content-container-header {
    padding: 20px;
    padding-bottom: 0px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content-container-text {
    padding: 20px;
    padding-top: 0px;
    margin-left: 50px;
}

#content-container-text h1 {
    font-size: 2.5rem;
    color: var(--text-primary);
}

#content-container-text ul {
    list-style-type: none;
    padding: 15px;
    padding-top: 5px;
}

#content-container-text li {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

.config-display {
    display: flex;
    flex-direction: column;
    padding: 2px;
    padding-left: 14px;
    margin: 14px;
    border-radius: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.config-header {
    display: inherit;
    color: var(--text-secondary);
    background-color: var(--tertiary);
    padding-left: 14px;
    margin-bottom: 0px;
    border-bottom: #121212 2px solid;
}

.config-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: var(--tertiary-light);
    text-align: center;
}

.config-table h2 {
    color: var(--text-secondary);
    margin: 0px;
    padding: 10px;
}

.config-table p {
    color: var(--text-secondary);
    margin: 0px;
    padding: 14px;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    #side-menu {
        width: 100%;
    }

    #content-container {
        width: 100%;
    }

    #side-menu-content a {
        padding-left: 20px;
    }

    #content-container-header {
        margin-left: 0px;
    }

    #content-container-text {
        margin-left: 0px;
    }
    
}